html {
    font-family: 'source sans pro', 'Wingdings Regular';
    color: var(--text-color);
}


body {
    margin: 0;
    font-size: 24px;
}

:root {
    --primary-color: #FF6565;
    --text-color: #FFFFFF;
}

nav {
    margin: 2rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    max-width: 1000px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: #FF6565;
}

.nav-links {
    display: inline-flex;
    gap: 2.6rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    gap: 2rem;
}

.orange-button {
    background: var(--primary-color);
    font-size: 1.5rem;
    border-radius: 3rem;
    padding: 1.5rem;
    color: var(--text-color);
    border: none;

    &:hover {
        opacity: 0.9
    }
}

.hero {
    background-image: url(/images/mainback.png);
    background-position: 35% 30%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cta {
    margin-top: 10rem;
    gap: 4rem;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about {
    background-color: #FFFFFF;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    
    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.results {
    background-image: url(/images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;

    .pentagons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .pentagon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;

        padding: 4rem;

        background-image: url(/images/LargePolygon.png);
        background-repeat: no-repeat;
        background-size: contain;
        
        & > h3 {
            font-size: 32px;
        }
    }
}

.contact {
    background-color: white;
    color: black;
    font-size: 32px;

    & > input {
        border: none;
        border-bottom: 1px solid #0000003d;
        
        color: black;
        font-size: 16px;
        font-weight: bold;

        min-width: 400px;
    }
}

footer {
    padding-top: 3rem;
    gap: 3rem;
    color:gray;
    background-color: #071629;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-icons {
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;
        justify-content: space-between;
    }
}
